/*
Theme Name: SKT Parallaxme
Theme URI: http://www.sktthemes.net/themes/skt_parallax_me/
Author: SKT Themes
Author URI: http://www.sktthemes.net
Description: SKT Parallax Me is a beautifully crafted parallax one page WordPress theme. It has got a nice parallax slider, ability to add upto 10 sections on single one page home. One may add custom menu navigation as well as drop down menus into this one page. This theme is best suited for corporates, business sites, photo bloggers, portfolio, freelancers as well as personal sites. Demo Link: http://www.sktthemes.net/themes/skt_parallax_me/

Version: 1.6
License: GNU General Public License
License URI: license.txt
Text Domain: skt-parallaxme
Tags: white, right-sidebar, responsive-layout, custom-colors, custom-header, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, photoblogging, editor-style, one-column

SKT Parallaxme WordPress Theme has been created by SKT Themes(sktthemes.net), 2014.
SKT Parallaxme WordPress Theme is released under the terms of GNU GPL
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Slab:400,100,300,700);

.show-bg nav ul{
border-bottom:solid 5px white ! important;
text-transform:capitalize ! important;
text-align: left ! important;
}

.carousel li{
margin-right: 0px ! important;
}


.heading{

display:none!important;

}

.container {
position: relative;
width:100% ! important;
margin: 0;
padding: 0;
}

.cf ul{
background-color:#0B51FB ! important;
}

.cf{
height : 36px;
}

#slidecaption h1{
text-align:right;
margin-right:18.9% !important;
font-family: roboto ! important;
}



.show-bg nav ul li a {
margin-left: auto;
margin-right: auto;
padding: 5px 10px;
background: transparent;
color: White ! important;
display: block;
font-family: 'Roboto' ! important;
font-weight: 500;
}

.show-bg nav ul li a:hover {

color: #333333 ! important;

}

.hover current-menu-item{

color: #333333 ! important;

}
 
.current_page_item{}
H1{ 

font-family:'Roboto Slab ' ! important; color:white ! important; font-size:60px ! important;
}

 
H2{ 
font-family:'Roboto Slab' bold ! important; color:white ! important; font-size:35px ! important; 
}
H3{ 
font-family:'Roboto' ! important; color:#333333 ! important; font-size:18px ! important; 
}

body{
font-family:'Roboto Slab' ! important; color:#333333 ! important; font-size:15px ! important; 
width: 100% ! important;

margin-left: auto ! important;
margin-right: auto ! important;
}
a{
font-family:'Roboto Slab' ! important; color:#0B51F9 ! important; font-size:15px ! important; 
}

a:hover{
font-family:'Roboto Slab' ! important; color:#333333 ! important; font-size:15px ! important;

 }

.show-bg{
background-color:#0B51FB ! important;

}

.control-nav{

display:none ! important
}

.cover{
background-color:#FFFFFF ! important;
}
.show-bg nav
{

float:none ! important;
margin-left:31.7% !important;
padding-top:0px ! important
}
.show-bg{
padding :0px  0 ! important;
z-index:500 ! important;
}

#slidecaption{
margin-top:-85px ! important
}
#section1{
padding-bottom: 95px ! important;
width:100% ! important;
}


.feature{
z-index:-10 ! important;
}

.down{
position: absolute;
height: 40px;
width: 50px;
z-index: 100;
margin-top: -40px;
}
.slidertext{
padding-top:57px ! important;
}
.profpading {
padding-top:57px ! important;
}

.text{
float:left ! important;
margin-left:26% ! important;
font-family: Roboto Slab ! important;
font-weight: normal ! important;
line-height: 1.2em ! important;
font-size: 15px ! important;
 text-shadow: 0.5px 0.5px white;
width: 23% ! important;
}

.text1{
float:right ! important;
width: 24% ! important;
margin-right:25.5% ! important;
font-family:  Roboto Slab ! important;
font-weight: normal ! important;
line-height: 1.2em ! important;
font-size: 15px ! important;
margin-bottom:-15px ! important;
 text-shadow: 0.5px 0.5px white;
}
.imgdiv{
clear:both ! important;

}

.img{
height:517px ! important;
width:100% ! important;
}
.imgg{
height:846px ! important;
width:100% ! important;
}

#section2{
background-color:#333333 ! important;
padding-bottom:130px ! important;

}

.profi{
position: absolute ! important;
z-index: 100 ! important;
margin-top: -68px ! important;
margin-left: 35% ! important;
border-bottom: 2px solid white ! important;
height: 10px ! important;
border-bottom-width: 5px ! important;
width: 425px ! important;
text-align: center ! important;
padding-bottom: 55px ! important;
text-transform: capitalize ! important;
font-family:'Roboto Slab' ! important
}

.hprof{
font-size:36px ! important;
color:white ! important;
}
.prof{
float:left ! important;
font-weight: normal ! important;
color:white ! important;
margin-left:26% ! important;
line-height: 1.2em ! important;
font-family: Roboto Slab ! important;
width: 23% ! important;
}
.prof1{
float:right;
font-weight: normal ! important;
color:white ! important;
margin-right:26% ! important;
line-height: 1.2em ! important;
font-family: Roboto Slab ! important;
width: 23.5% ! important;
}

.hometext{
display :block ! important;
width: 370px ! important;
float: right ! important;
position: relative ! important;
margin-top: -320px ! important;
margin-right: 16.5% ! important;
font-family: Roboto Slab ! important;
line-height: 1.7em ! important;

}

.hometext h4{
color:white ! important;

}

#section3{
background-color:#333333 ! important;
width:100% ! important;
}
.section{

}


#section4{
background-color:#2E62E2 ! important;
padding-bottom:110px ! important;
}

.leis{
padding-top:58px ! important;
margin-left:39.2% ! important;
color:white ! important;
line-height: 1.2em ! important;
font-family:'Roboto Slab' ! important;
font-weight: normal ! important;
width:300px ! important;	
}
 
#section5{

background-color:#2E62E2 ! important;
padding-top:155px ! important;
}

.margindiv{
background-color:#333333 ! important;
height:345px ! important
}

.last{
padding-top:110px ! important;
}
#section8{

background-color:#2E62E2! important;
color:white ! important;
height:395px ! important;
}

.kont{
padding-top:70px ! important;
Padding-bottom:70px ! important;

margin-left:30% ! important;
}

#hh4{
color: white ! important;
line-height: 0.8 ! important;
font-size: 17px! important;
margin-top: 5px! important;
font-family: 'Roboto' ! important;

letter-spacing: 1px ! important;
}
.spnn{

1line-height: 1em ! important;
font-size: 15px ! important;
font-family:'Roboto Slab' ! important;
}

.nmdiv{
float:left ! important;
}
 .inputtype{
margin-left: 29.9% ! important;
margin-top: -10px !important;
}
#nm{
margin-top: 8px ! important;
width: 335px ! important;
height: 15px important;
}
::-webkit-input-placeholder {
   color: #040000;
}

#em{
margin-top: 8px ! important;
width: 335px ! important;
height: 15px important;
}

#bet{
margin-top: 5px ! important;
width: 335px ! important;
height: 15px important;
}

#txtare{
margin-top: 5px ! important;
width: 335px ! important;
height: 180px ! important;
}
#spn{
margin-left:290px ! important;
font-family:'Roboto' ! important;
}

.metaslider-210{
background-color:#333333 ! important;

}
.caption-wrap{
position: relative ! important;
background-color:#333333 ! important;
}
.caption{
font-size: 15px ! important;
padding-top: 19px ! important;
height: 60px ! important;
margin-left: 12px ! important;
color:white ! important;
}

.spa{
font-size: 16px ! important;
font-weight: 600 ! important;
color: #FFFFFF ! important;
}

.spb{
font-size: 14px ! important;
font-weight: 100 ! important;
color: #FFFFFF ! important;
font-family:'Roboto' ! important;
}


.team{
padding-top:109px ! important;
}

.metaslider-211 ul{
margin-left:200px ! important;
}
.metaslider-211  .caption-wrap{
background-color:white ! important;
}

 .metaslider-211 .caption{

height: 80px ! important;
padding-top: 5px ! important;
width:200px ! important;
}

.hh5{
font-size: 16px ! important;
margin-left: -20px ! important;
font-weight: 800 ! important;
font-family: Roboto Slab ! important;
color:#040000 ! important;
font-weight: 600 ! important;
}
 
.pa{
text-align: center ! important;
margin-left: -20px ! important;
font-family: Roboto ! important;
line-height: 18px ! important;
margin-right: 100px ! important;
color:#010101 ! important;
font-weight: 400 ! important;
}

.pc{
margin-left: -20px ! important;

}
.divvv{
margin-left:-20px ! important;
}
.agtag{
font-family: 'Roboto' ! important;
font-size:15px ! important;
color:#0000FF ! important;
font-weight: 500 ! important;
}
.agtag:hover{
color:#004BFF ! important;
font-family: 'Roboto' ! important;
}


.imp{ 
float:right ! important;
color:white ! important;
margin-right:10px ! important;
font-family: Roboto Slab ! important;
}
@media only screen and (min-width: 1801px) and (max-width: 2000px) {
.show-bg nav{
display: block ! important;

}
#slides ul{
margin-left:-450px ! important;
}

#slides li{
width:950px ! important;
}
#next{
margin-left: 91%;
}
}
@media only screen and (min-width: 1601px) and (max-width: 1800px) {
.show-bg nav{
display: block ! important;

}
#slides ul{
margin-left:-450px ! important;
}

#slides li{
width:900px ! important;
}
#next{
margin-left: 91%;
}
}
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
.show-bg nav{
display: block ! important;

}
#slides ul{
margin-left:-400px ! important;
}

#slides li{
width:800px ! important;
}
#next{
margin-left: 91%;
}

}

@media only screen and (min-width: 1400px) and (max-width: 1440px) {
#slides ul{
margin-left:-360px ! important;
}

#slides li{
width:720px ! important;
}
#next{
margin-left: 91%;
}

#slidecaption h1{
text-align:right;
margin-right:17% !important;
font-family: roboto ! important;
}



.show-bg nav ul li a {
margin-left: auto;
margin-right: auto;
padding: 5px 8px;
background: transparent;
color: White ! important;
display: block;
font-family: 'Roboto' ! important;
font-weight: 600;
}


.show-bg nav
{

float:none ! important;
margin-left:34.9% !important;
display:block ! important;
padding-top:0px ! important
}


#slidecaption{
margin-top:-85px ! important
}
#section1{
padding-bottom: 95px ! important;
width:100% ! important;
}



.slidertext{
padding-top:57px ! important;
}
.text{
float:left ! important;
margin-left:26% ! important;
font-family: Roboto Slab ! important;
font-weight: normal ! important;
line-height: 1.2em ! important;
font-size: 15px ! important;
 text-shadow: 0.5px 0.5px white;
width: 23% ! important;
}

.text1{
float:right ! important;
width: 23% ! important;
margin-right:23.3% ! important;
font-family:  Roboto Slab ! important;
font-weight: normal ! important;
line-height: 1.2em ! important;
font-size: 15px ! important;
margin-bottom:-15px ! important;
 text-shadow: 0.5px 0.5px white;
}

.img{
height:517px ! important;
width:100% ! important;
}
.imgg{
height:846px ! important;
width:100% ! important;
}

#section2{
background-color:#333333 ! important;
padding-bottom:130px ! important;

}

.profi{
position: absolute ! important;
z-index: 100 ! important;
margin-top: -68px ! important;
margin-left: 35.3% ! important;
border-bottom: 2px solid white ! important;
height: 10px ! important;
border-bottom-width: 5px ! important;
width: 435px ! important;
text-align: center ! important;
padding-bottom: 55px ! important;
text-transform: capitalize ! important;
font-family: 'Roboto Slab' ! important;

letter-spacing: 2px ! important;
}

.hprof{
font-size:36px ! important;
color:white ! important;
}
.prof{
float:left ! important;
font-weight: normal ! important;
color:white ! important;
margin-left:26% ! important;
line-height: 1.2em ! important;
font-family: Roboto Slab ! important;
width: 23% ! important;
}
.prof1{
float:right;
font-weight: normal ! important;
color:white ! important;
margin-right:25% ! important;
line-height: 1.2em ! important;
font-family: Roboto Slab ! important;
width: 23.5% ! important;
}

.hometext{
display :block ! important;
width: 370px ! important;
float: right ! important;
position: relative ! important;
margin-top: -320px ! important;
margin-right: 14% ! important;
font-family: Roboto Slab ! important;
line-height: 1.7em ! important;

}

.hometext h4{
color:white ! important;

}

#section3{
background-color:#333333 ! important;
width:100% ! important;
}
.section{

}


#section4{
background-color:#2E62E2 ! important;
padding-bottom:110px ! important;
}

.leis{
padding-top:58px ! important;
margin-left:39.9% ! important;
color:white ! important;
line-height: 1.2em ! important;
font-family:'Roboto Slab' ! important;
font-weight: normal ! important;
width:300px ! important;	
}
 
#section5{


background-color:#2E62E2! important;
padding-top:155px ! important;
}

.margindiv{
background-color:#333333 ! important;
height:345px ! important
}

.last{
padding-top:110px ! important;
}
#section8{

background-color:#2E62E2! important;
color:white ! important;
height:395px ! important;
}

.kont{
padding-top:70px ! important;
Padding-bottom:70px ! important;

margin-left:30% ! important;
}

#hh4{
color: white ! important;
line-height: 0.8 ! important;
font-size: 17px! important;
margin-top: 5px! important;
font-family: 'Roboto' ! important;

letter-spacing: 1px ! important;
}
.pp{
line-height: 18px ! important;
margin-left: 5px ! important;
}
.pp1{
line-height: 20px ! important;
margin-left: 5px ! important;
}
pp2{
margin-left: 5px ! important;
margin-top: -8px ! important;
line-height: 20px ! important;
}

pp3{
margin-left: 5px ! important;
margin-top: -8px ! important;
line-height: 19px ! important;
}
.spnn{

1line-height: 1em ! important;
font-size: 15px ! important;
font-family:'Roboto Slab' ! important;
}

.nmdiv{
float:left ! important;
}
 .inputtype{
margin-left: 30.2% ! important;
margin-top: -10px !important;
}
#nm{
margin-top: 8px ! important;
width: 338px ! important;
height: 15px important;
}
::-webkit-input-placeholder {
   color: #040000;
}

#em{
margin-top: 8px ! important;
width: 338px ! important;
height: 15px important;
}

#bet{
margin-top: 5px ! important;
width: 338px ! important;
height: 15px important;
}

#txtare{
margin-top: 5px ! important;
width: 338px ! important;
height: 180px ! important;
}
#spn{
margin-left:290px ! important;
font-family:'Roboto' ! important;
}

.metaslider-210{
background-color:#333333 ! important;

}
.caption-wrap{
position: relative ! important;
background-color:#333333 ! important;
}
.caption{
font-size: 15px ! important;
padding-top: 19px ! important;
height: 60px ! important;
margin-left: 12px ! important;
color:white ! important;
}

.spa{
font-size: 16px ! important;
font-weight: 600 ! important;
color: #FFFFFF ! important;
}

.spb{
font-size: 14px ! important;
font-weight: 100 ! important;
color: #FFFFFF ! important;
font-family:'Roboto' ! important;
}


.team{
padding-top:109px ! important;
}

.metaslider-211 ul{
margin-left:200px ! important;
}
.metaslider-211  .caption-wrap{
background-color:white ! important;
}

 .metaslider-211 .caption{

height: 80px ! important;
padding-top: 5px ! important;
width:200px ! important;
}

.hh5{
font-size: 16px ! important;
margin-left: -12px ! important;
letter-spacing: 1px ! important;
font-family: Roboto Slab ! important;
color:#040000 ! important;
font-weight: 600 ! important;
}
 
.pa{
text-align: center ! important;
font-family: Roboto ! important;
line-height: 18px ! important;
margin-right: 100px ! important;
color:#010101 ! important;
font-weight: 400 ! important;
}

.pc{
margin-left: -15px ! important;

}
.agtag{
font-family: 'Roboto' ! important;
font-size:15px ! important;
color:#0000FF ! important;
font-weight: 500 ! important;
}
.agtag:hover{
color:#004BFF ! important;
font-family: 'Roboto' ! important;
}


.imp{ 
float:right ! important;
color:white ! important;
margin-right:10px ! important;
font-family: Roboto Slab ! important;
}
}





@media only screen and (min-width: 1251px) and (max-width: 1399px) {
#slides ul{
margin-left:-325px ! important;
}

#slides li{
width:650px ! important;
}
#next{
margin-left: 91%;
}

.show-bg nav{
display: block ! important;

}
.hometext{
margin-right:10% ! important;	
}
.metaslider-211 ul {
margin-left: 120px ! important;
}
.text{
margin-left: 24% ! important;
width: 300px ! important;

}
.text1{
margin-right: 24% ! important;
width: 300px ! important;

}
.prof{
margin-left: 24% ! important;
width: 300px ! important;
}
.profi{
margin-left: 32% ! important;
}
.prof1{
margin-right: 24% ! important;
width: 300px ! important;
}


}
@media only screen and (min-width: 1100px) and (max-width: 1250px) {
#slides ul{
margin-left:-300px ! important;
}

#slides li{
width:600px ! important;
}
#next{
margin-left: 91%;
}


.show-bg nav{
display: block ! important;

}

#slidecaption {
margin-top: -105px ! important;
}
#slidecaption h1{
margin-right: 10.2% !important;

}

.hometext{
margin-right:8% ! important;
}
.text{
margin-left: 22% ! important;
width: 300px ! important;

}
.text1{
margin-right: 22% ! important;
width: 300px ! important;

}

.metaslider-211 ul {
margin-left: 100px ! important;
}
.prof{
margin-left: 22% ! important;
width: 300px ! important;

}
.profi{
margin-left: 32% ! important;
}
.prof1{
margin-right: 22% ! important;
width: 300px ! important;

}

.leis{
margin-left: 39% ! important;

}

.kont{
margin-left: 25% ! important;
}
.inputtype {
margin-left: 30% ! important;
}

#spn{
margin-left: 280px ! important;}


.imp{
margin-right:20px ! important;
}
}


@media only screen and (min-width: 960px) and (max-width: 1099px) {
#slides ul{
margin-left:-250px ! important;
}

#slides li{
width:500px ! important;
}
#next{
margin-left: 88%;
}


.metaslider-211{
width:590px ! important;
}
#metaslider_211.flexslider .slides li {

margin-left: -70px ! important;
}


.show-bg nav{
display: block ! important;
margin-left: 250px !important;
}
#slidecaption h1{
margin-right: 5.2% !important;
}
.hometext{
margin-right:3% ! important;
}
.text{
margin-left: 16% ! important;
width: 300px ! important;
}
.text1{
margin-right: 17% ! important;
width: 300px ! important;
}

.cycloneslider-slide img{
height: 100% ! important;
width: 100% ! important;
}
.prof{
margin-left: 16% ! important;
width: 300px ! important;
}
.profi{
margin-left: 30% ! important;

}
.prof1{
margin-right: 17% ! important;
width: 300px ! important;
}

.leis{
margin-left: 38.5% ! important;
width: 300px ! important;
}

.kont{
margin-left: 20% ! important;
}
.inputtype {
margin-left: 35% ! important;
}

#spn{
margin-left: 52% ! important;
}


.imp{
margin-right:20px ! important;
}




.kont{
margin-left: 25% ! important;
}
.inputtype {
margin-left: 30% ! important;
}

#spn{
margin-left: 280px ! important;}


.imp{
margin-right:20px ! important;
}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
#slides ul{
margin-left:-225px ! important;
}

#slides li{
width:450px ! important;
}
#next{
margin-left: 82%;
}
.metaslider-211{
width:590px ! important;
}
#metaslider_211.flexslider .slides li {

margin-left: -70px ! important;
}


.show-bg nav {
display: block ! important;
margin-left: 200px ! important;
}
#slidecaption{
margin-top:-70px ! important
}
#slidecaption h1{
margin-right: 12.2% !important;

}

.hometext{
width: 310px ! important;
margin-right: 0.5% ! important;
}
.hometext h4{
font-size: 20px ! important;
}

.text{
margin-left: 13% ! important;
font-size: 14px ! important;
width: 35% ! important;
}
.text1{
margin-right: 13% ! important;
font-size: 14px ! important;
width: 35% ! important;
}
.cycloneslider-slide img{
height: 100% ! important;
width: 100% ! important;
}
.prof{
margin-left: 13% ! important;
font-size: 14px ! important;
width: 35% ! important;
}

.prof1{
margin-right: 13% ! important;
font-family: 14px ! important;
width: 35% ! important;
}

.profi{
margin-left: 25% ! important;

}
.leis{
margin-left: 35% ! important;

}
H1{
font-size: 36px ! important;
}

.kont{

margin-left: 20% ! important;
}
.inputtype {
margin-left: 30% ! important;
}
#hh4{
font-size: 18px ! important;
}
 .spnn{

font-size: 12px ! important;
}

#nm{
margin-top: 10px ! important;
width: 250px ! important;
}
#em{
margin-top: 10px ! important;
width: 250px ! important;
}
#bet{
margin-top: 8px ! important;
width: 250px ! important;
}
#txtare{
margin-top: 15px ! important;
width: 250px ! important;

}
#spn {
margin-left: 210px ! important;
}

.imp{
margin-right:20px ! important;
}
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
	#slides ul{
margin-left:-175px ! important;
}

#slides li{
width:350px ! important;
}
#next{
margin-left: 82%;
}
.metaslider-211{
width:550px ! important;
}
.metaslider-211 ul{
margin-left: 95px ! important;
}
.ms-image{
margin-left:-30px ! important;
}
.logo{
display:none ! important;
}
#supersized li.prevslide img, #supersized li.activeslide img{
margin-top:50px ! important;
}
.mobile_nav{
display:block; 
width:100% ! important;
}
.cf ul {
text-align: center ! important;
}

.mobile_nav a{
display:block ! important ; padding:25px ! important; 
float: right ! important;
}

.show-bg nav ul{
border-bottom: none ! important;
text-align: center ! important;
}
#slidecaption h1 {
margin-right: 10% ! important;
font-size: 36px ! important;
}
#slidecaption {
margin-top: -55px ! important;
}
.hometext{
margin-right: 1% ! important;
width: 300px ! important;
font-size: 12px ! important;
line-height: 1.2 ! important;
}

.text{
float: none ! important;
margin-left: 28% ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 300px ! important;
}
.text1{
float: none ! important;
margin-left: 28% ! important;
margin-top: 20px ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 300px ! important;
}
.cycloneslider-slide img{
height: 100% ! important;
width: 100% ! important;
}
.profi{
margin-left: 27% ! important;
width: 350px ! important;
}
H1{
font-size: 28px ! important;
}

.profpading{
padding-bottom:10px ! important;
}
.prof{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-left: 28% ! important;
width: 300px ! important;
}
.prof1{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-top: 20px ! important;
margin-left: 28% ! important;
width: 300px ! important;
}
.leis{

margin-left: 28% ! important;
width: 300px ! important;
font-size: 14px ! important;
}
#section8{
height:100% ! important;
}

.kont{
margin-left: 20% ! important;
}
.nmdiv{
float:none ! important;
margin-left:15% ! important;
}
#hh4{
font-size:16px ! important;
}
.spnn{
font-size:12px ! important;
}
.inputtype{
margin-left: 10% ! important;
}
#nm{
margin-top: 10px ! important;
width: 300px ! important;
}
#em{
margin-top: 10px ! important;
width: 300px ! important;
}
#bet{
margin-top: 8px ! important;
width: 300px ! important;
}
#txtare{
margin-top: 15px ! important;
width: 300px ! important;
}

#spn {
margin-left: 55% ! important;
}


.imp{
margin-right:20px ! important;
margin-top:-20px ! important;
}


}



@media only screen and (min-width: 540px) and (max-width: 639px) {

	#slides ul{
margin-left:-140px ! important;
}

#slides li{
width:280px ! important;
}
#next{
margin-left: 80%;
}
.metaslider-211{
width:500px ! important;
}
.metaslider-211 ul{
margin-left: 95px ! important;
}
.ms-image{
margin-left:-35px ! important;
}
.logo{
display:none ! important;
}
#supersized li.prevslide img, #supersized li.activeslide img{
margin-top:50px ! important;
}
.mobile_nav{
display:block;  border:1px #dadada solid;
width:99.5% ! important;
}
.cf ul {
text-align: center ! important;
}

.mobile_nav a{
display:block ! important ; padding:25px ! important; 
float: right ! important;
}

.show-bg nav ul{
border-bottom: none ! important;
text-align: center ! important;
}
#slidecaption h1 {
margin-right: 10% ! important;
font-size: 36px ! important;

}
#slidecaption {
margin-top: -55px ! important;

}
.hometext{
width: 220px ! important;
margin-right: 1% ! important;
font-size: 10px ! important;
line-height: 1.2 ! important;
}

.text{
float: none ! important;
margin-left: 28% ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 300px ! important;
}
.text1{
float: none ! important;
margin-left: 28% ! important;
margin-top: 20px ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 300px ! important;
}
.cycloneslider-slide img{
height: 100% ! important;
width: 100% ! important;
}
.profi{
margin-left: 27% ! important;
width: 350px ! important;
}
H1{
font-size: 28px ! important;
}

.profpading{
padding-bottom:10px ! important;
}
.prof{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-left: 28% ! important;
width: 300px ! important;
}
.prof1{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-top: 20px ! important;
margin-left: 28% ! important;
width: 300px ! important;
}
.leis{

margin-left: 28% ! important;
width: 300px ! important;
font-size: 14px ! important;
}

#section8{
height:100% ! important;
}
.kont{
margin-left: 20% ! important;
}
.nmdiv{
float:none ! important;
margin-left:15% ! important;
}
#hh4{
font-size:16px ! important;
}
.spnn{
font-size:12px ! important;
}
.inputtype{
margin-left: 10% ! important;
}
#nm{
margin-top: 10px ! important;
width: 300px ! important;
}
#em{
margin-top: 10px ! important;
width: 300px ! important;
}
#bet{
margin-top: 8px ! important;
width: 300px ! important;
}
#txtare{
margin-top: 15px ! important;
width: 300px ! important;
}

#spn {
margin-left: 55% ! important;
}


.imp{
margin-right:20px ! important;
margin-top:-20px ! important;
}

}





@media only screen and (min-width: 481px) and (max-width: 539px) {

#slides li{
width:540px ! important;
}
#next{
margin-left: 78%;
}
.metaslider-211{

}
.metaslider-211 ul{
margin-left: 95px ! important;
}
.ms-image{
margin-left:-45px ! important;
}
.flexslider:hover .flex-next {

right: 85px ! important;
}
.logo{
display:none ! important;
}
#supersized li.prevslide img, #supersized li.activeslide img{
margin-top:50px ! important;
}
.mobile_nav{
display:block;  border:1px #dadada solid;
width:99.5% ! important;
}
.cf ul {
text-align: center ! important;
}

.mobile_nav a{
display:block ! important ; padding:25px ! important; 
float: right ! important;
}

.show-bg nav ul{
border-bottom: none ! important;
text-align: center ! important;
}
.show-bg nav ul li a{
margin-left:100px ! important;
}
#slidecaption h1 {

margin-right: 10% ! important;
font-size: 36px ! important;
}
#slidecaption {

margin-top: -55px ! important;
}
.hometext{
width: 200px ! important;
font-size: 9px;
margin-right: 0px ! important;
line-height: 1.2 ! important;}

.text{
float: none ! important;
margin-left: 28% ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 300px ! important;
}
.text1{
float: none ! important;
margin-left: 28% ! important;
margin-top: 20px ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 300px ! important;
}
.cycloneslider-slide img{
height: 100% ! important;
width: 100% ! important;
}
.profi{
margin-left: 26% ! important;
width: 320px ! important;
}
H1{
font-size: 28px ! important;
}

.profpading{
padding-bottom:10px ! important;
}
.prof{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-left: 28% ! important;
width: 300px ! important;
}
.prof1{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-top: 20px ! important;
margin-left: 28% ! important;
width: 300px ! important;
}
.leis{

margin-left: 28% ! important;
width: 300px ! important;
font-size: 14px ! important;
}

#section8{
height:100% ! important;
}
.kont{
margin-left: 20% ! important;
}
.nmdiv{
float:none ! important;
margin-left:15% ! important;
}
#hh4{
font-size:16px ! important;
}
.spnn{
font-size:12px ! important;
}
.inputtype{
margin-left: 10% ! important;
}
#nm{
margin-top: 10px ! important;
width: 300px ! important;
}
#em{
margin-top: 10px ! important;
width: 300px ! important;
}
#bet{
margin-top: 8px ! important;
width: 300px ! important;
}
#txtare{
margin-top: 15px ! important;
width: 300px ! important;
}

#spn {
margin-left: 55% ! important;
}


.imp{
margin-right:20px ! important;
margin-top:-20px ! important;
}
}

@media only screen and (min-width: 400px) and (max-width: 480px) {
#slides li{
width:480px ! important;
height:280px ! important;
}
#prev{
margin-top:130px ! important;
font-size:30px ! important;
}
#next{
margin-top:130px ! important;
margin-left: 78%;
font-size:30px ! important;
}
.textbloww{
margin-left:25% ! important;
margin-top:20px ! important;
}

	.metaslider-211{
width:280px ! important;
}
.metaslider-211 ul{
margin-left: 100px ! important;

}
.metaslider-211 ul li{
width:115px ! important;
margin-left: -110px ! important;
}

#metaslider_211 .flexslider:hover .flex-prev{
right:-45px ! important;
}
.slide-207{
margin-left:140px ! important;
}
.slide-205{
margin-left:140px ! important;
}
.hh5{
margin-left:0px ! important;
font-size:12px ! important;
font-weight:bold ! important;
}
.divv{
margin-left:130px ! important;
width:200px ! important;
color:#333333 ! important;
z-index:880 ! important;

}
.hh5 {
margin-left: -12px ! important;
font-size: 16px ! important;
font-weight: bold ! important;
}
.pa{
margin-left:35px ! important;
}
.pc {
margin-left: -10px ! important;

}
.metaslider-211 .caption-wrap{
width:0px ! important;
}
.metaslider-211 .flex-direction-nav .flex-next{
margin-top: -70px ! important;
margin-right: -70px ! important;
}
.metaslider-211 .flex-direction-nav .flex-prev{
margin-top: -70px ! important;
margin-left: -60px ! important;
}
.flexslider:hover .flex-prev{
left:10px ! important;
}
.logo{
display:none ! important;
}
#supersized li.prevslide img, #supersized li.activeslide img{
margin-top:50px ! important;
}
.mobile_nav{
display:block;  border:1px #dadada solid;
width:99.5% ! important;
}
.cf ul {
text-align: center ! important;
}

.mobile_nav a{
display:block ! important ; padding:25px ! important; 
float: right ! important;
}

.show-bg nav ul{
border-bottom: none ! important;
text-align: center ! important;

}
.show-bg nav ul li a{
margin-left:170px ! important;
font-weight:400 ! important;
}
#slidecaption h1 {

margin-right: 5% ! important;
font-size: 26px ! important;
}
#slidecaption {
margin-top: -30px ! important;
}
.hometext{
margin-top: -320px ! important;
width: 170px ! important;
font-size: 7px ! important;
line-height: 2em ! important;
margin-right: 0px ! important;
}
.slidertext {
padding-top: 25px ! important;
}
.profpading{
padding-top: 25px ! important;
}
.text{

float: none ! important;
margin-left: 17% ! important;
font-size: 15px ! important;
font-weight: 600 ! important;
width: 280px ! important;
}
.text1{
float: none ! important;
margin-left: 17% ! important;
margin-top: 20px ! important;
font-size: 15px ! important;
font-weight: 600 ! important;
width: 280px ! important;
}
#section1 {
padding-bottom: 30px ! important;
}
.profi{
margin-left: 12% ! important;
width: 77% ! important;
margin-top: -48px ! important;

padding-bottom: 35px ! important;
}
.hprof{
font-size: 26px ! important;
}

H1{
font-size: 28px ! important;
}

.profpading{
padding-bottom:10px ! important;
}
#section2 {

padding-bottom: 10px ! important;
}
#section4{
padding-bottom: 100px ! important;
}
#section5{
padding-top:0px ! important;
}
.margindiv{
height:0px ! important;
}
.team{
padding-top: 55px ! important;
}
.last{
padding-top: 0px ! important;
}
.img{
height:417px ! important;
}
.imgg{
height:417px ! important;
}
.prof{
float: none ! important;
font-size: 15px ! important;
font-weight: 400 ! important;
margin-left: 17% ! important;
width: 280px ! important;
}
.prof1{
float: none ! important;
font-size: 15px ! important;
font-weight: 400 ! important;
margin-top: 20px ! important;
margin-left: 17% ! important;
width: 280px ! important;
}
.leis{
padding-top: 50px ! important;
margin-left: 18% ! important;
width: 280px ! important;
font-size: 14px ! important;
}
#section8{
height:100% ! important;
}
.kont{
margin-left: 20% ! important;
padding-top: 40px ! important;
}
.nmdiv{
float:none ! important;

}
#hh4{
font-size:16px ! important;
}
.spnn{
font-size:12px ! important;
}
.inputtype{
margin-left: 0% ! important;
}
#nm{
margin-top: 30px ! important;
width: 300px ! important;
}
#em{
margin-top: 10px ! important;
width: 300px ! important;
}
#bet{
margin-top: 8px ! important;
width: 300px ! important;
}
#txtare{
margin-top: 15px ! important;
width: 300px ! important;
}

#spn {
margin-left: 260px ! important;
}


.imp{
margin-right:20px ! important;
margin-top:-20px ! important;
}
}


@media only screen and (min-width: 320px) and (max-width: 399px) {

#slides li{
width:400px ! important;
}
#next{
margin-left: 75% ! important;
}
#prev{
margin-left: 50px ! important;
}
	.metaslider-211{
width:230px ! important;
mar
}
.metaslider-211 ul{
margin-left: 100px ! important;

}
.metaslider-211 ul li{
width:90px ! important;
margin-left: -110px ! important;
}

#metaslider_211 .flexslider:hover .flex-prev{
right:-45px ! important;
}
.slide-207{
margin-left:150px ! important;
}
.slide-205{
margin-left:150px ! important;
}
 .metaslider-211 .caption-wrap{
width:0px ! important;
}
.hh5{
margin-left: -10px ! important;
font-size: 12px ! important;
}
.pa{
font-size: 10px ! important;
margin-left: -35px ! important;
}
.pc{
margin-left:-10px ! important;	
}
.agtag{
font-size: 10px ! important;
}
.divv{
margin-left:120px ! important;
width:200px ! important;
color:#333333 ! important;
z-index:880 ! important;
}
.metaslider-211 .flex-direction-nav .flex-next{
margin-top: -70px ! important;
margin-right: -70px ! important;
}
.metaslider-211 .flex-direction-nav .flex-prev{
margin-top: -70px ! important;
margin-left: -50px ! important;
}

.logo{
display:none ! important;
}
#supersized li.prevslide img, #supersized li.activeslide img{
margin-top:50px ! important;
}
.mobile_nav{
display:block;  border:1px #dadada solid;
width:99.5% ! important;
}
.cf ul {
text-align: center ! important;
}

.mobile_nav a{
display:block ! important ; padding:25px ! important; 
float: right ! important;
}

.show-bg nav ul{
border-bottom: none ! important;
text-align: center ! important;
}
.show-bg nav ul li a{
margin-left:110px ! important;
}
#slidecaption h1 {
margin-right: 5% ! important;
font-size: 26px ! important;

}
#slidecaption {
margin-top: -55px ! important;

}
.hometext{
width: 135px ! important;
font-size: 8px ! important;
margin-right: 0px ! important;
line-height: 15px ! important;
}
.text{
float: none ! important;
margin-left: 10% ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 250px ! important;
}
.text1{
float: none ! important;
margin-left: 10% ! important;
margin-top: 20px ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 250px ! important;
}

.profi{
margin-left: 9% ! important;
width: 77% ! important;
}

H1{
font-size: 28px ! important;
}

.profpading{
padding-bottom:10px ! important;
}
.prof{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-left: 10% ! important;
width: 250px ! important;
}
.prof1{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-top: 20px ! important;
margin-left: 10% ! important;
width: 250px ! important;
}
.leis{

margin-left: 12% ! important;
width: 250px ! important;
font-size: 14px ! important;
}
#section8{
height:100% ! important;
}
.kont{
margin-left: 15% ! important;
}
.nmdiv{
float:none ! important;

}
#hh4{
font-size:16px ! important;
}
.spnn{
font-size:12px ! important;
}
.inputtype{
margin-left: 0% ! important;
}
#nm{
margin-top: 30px ! important;
width: 180px ! important;
}
#em{
margin-top: 10px ! important;
width: 180px ! important;
}
#bet{
margin-top: 8px ! important;
width: 180px ! important;
}
#txtare{
margin-top: 15px ! important;
width: 180px ! important;
}

#spn {
margin-left: 140px ! important;
}


.imp{
margin-right:20px ! important;
margin-top:-20px ! important;
}
}

@media only screen and (min-width: 250px) and (max-width: 319px) {
	.metaslider-211{
width:280px ! important;
mar
}
.metaslider-211 ul{
margin-left: 100px ! important;

}
.metaslider-211 ul li{
width:115px ! important;
margin-left: -110px ! important;
}

#metaslider_211 .flexslider:hover .flex-prev{
right:-45px ! important;
}
.slide-207{
margin-left:150px ! important;
}
.slide-205{
margin-left:150px ! important;
}
.hh5{
margin-left:0px ! important;
font-size:15px ! important;
}
.divv{
margin-left:120px ! important;
width:200px ! important;
color:#333333 ! important;
z-index:880 ! important;
}
.metaslider-211 .flex-direction-nav .flex-next{
margin-top: -70px ! important;
margin-right: -80px ! important;
}
.metaslider-211 .flex-direction-nav .flex-prev{
margin-top: -70px ! important;
margin-left: -90px ! important;
}

.logo{
display:none ! important;
}
#supersized li.prevslide img, #supersized li.activeslide img{
margin-top:50px ! important;
}
.mobile_nav{
display:block;  border:1px #dadada solid;
width:100% ! important;
}
.cf ul {
text-align: center ! important;
}

.mobile_nav a{
display:block ! important ; padding:25px ! important; 
float: right ! important;
}

.show-bg nav ul{
border-bottom: none ! important;
}
#slidecaption h1 {
margin-right: 5% ! important;
font-size: 36px ! important;
display:none ! important;
}
#slidecaption {
margin-top: -55px ! important;
display:none ! important;
}
.hometext{
display:none ! important;
}
.text{
float: none ! important;
margin-left: 20% ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 280px ! important;
}
.text1{
float: none ! important;
margin-left: 20% ! important;
margin-top: 20px ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
width: 280px ! important;
}
.cycloneslider-slide img{
height: 100% ! important;
width: 100% ! important;
}
.profi{
margin-left: 12% ! important;
width: 77% ! important;
}

H1{
font-size: 28px ! important;
}

.profpading{
padding-bottom:10px ! important;
}
.prof{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-left: 20% ! important;
width: 280px ! important;
}
.prof1{
float: none ! important;
font-size: 14px ! important;
font-weight: 500 ! important;
margin-top: 20px ! important;
margin-left: 20% ! important;
width: 280px ! important;
}
.leis{

margin-left: 18% ! important;
width: 280px ! important;
font-size: 14px ! important;
}

.kont{
margin-left: 20% ! important;
}
.nmdiv{
float:none ! important;

}
#hh4{
font-size:16px ! important;
}
.spnn{
font-size:12px ! important;
}
.inputtype{
margin-left: 0% ! important;
}
#nm{
margin-top: 30px ! important;
width: 300px ! important;
}
#em{
margin-top: 10px ! important;
width: 300px ! important;
}
#bet{
margin-top: 8px ! important;
width: 300px ! important;
}
#txtare{
margin-top: 15px ! important;
width: 300px ! important;
}

#spn {
margin-left: 78% ! important;
}


.imp{
margin-right:20px ! important;
margin-top:-20px ! important;
}
}